*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(156, 153, 146)        ;
}

.container{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 600px 600px 600px;
    justify-content: center;
}
.blog1, .blogJoin, .blog2 {
    
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 10px black;
}
input{
    padding: 5px;
    outline: none;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    background: rgb(218, 227, 198);
}

button{
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    box-shadow: 2px 2px 5px black;
    background: rgb(218, 227, 198);
}

